# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.env.local
.env.*.local
venv/
env/
.venv/

# Node & Expo
node_modules/
.expo/
dist/
web-build/
*.tsbuildinfo
android/
ios/
*.log
*build_log*.txt

# Hardware & PlatformIO
.pio/
secrets.h
private/
data/
*.db*

# OS & Editors
.DS_Store
Thumbs.db
.vscode/
.idea/
